@import "/src/assets/styles/variables";

// Selectors
.header {
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__left {
    .logo {
      width: $logo-mobile-size;
    }
  }
  .header__right {
    display: flex;
    display: flex;
    width: 6rem;
    justify-content: space-between;
    align-items: flex-end;
  }
}
