// Variables
$base-size: 3rem;

// Selectors
.header {
  margin: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__left {
    .logo {
      width: $base-size;
    }
  }
  .header__right {
    display: flex;
    .header__right--lang {
      display: flex;
      .lang__container {
        width: $base-size;
        height: $base-size;
        border-radius: 50%;
        background-color: black;
      }
    }
  }
}
