@import "/src/assets/styles/variables";

/**
Dropdown languges
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .lang__container {
    width: $icons-mobile-size;
    height: $icons-mobile-size;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 7rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 1.2rem;
    .content {
      padding: 0.5rem;
      border-top: 0.5px solid var(--blue-300);
      cursor: pointer;
      .content__option {
        width: $icons-dropdown-mobile-size;
        height: $icons-dropdown-mobile-size;
      }
    }
    .content:first-child {
      border: none;
    }
  }
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/**
Media queries
*/
// Tablet
@media (min-width: $breakpoint-tablet) {
  /**
Dropdown
*/
  .dropdown {
    .lang__container {
      width: 2rem;
      height: 2rem;
    }
    .dropdown-content {
      margin: 1.9rem 0 0 -1rem;
      .content {
        padding: 1rem;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        .content__option {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.3rem;
        }
      }
    }
  }
}
