@import "/src/assets/styles/variables";

/**
Search page - home
*/
// Main container
.search {
  // Type of search
  .search__insurance {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 2rem 0;
    height: 80vh;
    .insurance__cards {
      display: flex;
      flex-wrap: wrap;
      height: inherit;
    }
  }
  .search__passport,
  .search__all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
  }
  .search__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    app-autocomplete-input {
      margin-bottom: 2rem;
    }
  }
  .search__title {
    display: flex;
    width: 6rem;
    justify-content: space-around;
    align-items: center;
    i {
      color: $base-color400;
      font-size: 1.3rem;
    }
  }
  .longLabel {
    width: 13rem;
  }
}
// Cards
app-card:nth-child(odd) {
  animation: carAnimationLeft 3s ease 0s 1 normal none;
}
app-card:nth-child(even) {
  animation: carAnimationRight 3s ease 0s 1 normal none;
}
/** Animations */
// Left
@keyframes carAnimationLeft {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(-500px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(-66px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(-43px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(-16.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}

// Right
@keyframes carAnimationRight {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateX(500px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateX(66px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateX(43px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateX(16.5px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px);
  }
}

/**
Media queries
*/
// Tablet
@media (min-width: $breakpoint-tablet) {
  /**
Search types
*/
  .search {
    .search__insurance {
      display: flex;
      padding: 0 2rem;
      margin: 2rem 0;
      height: 54vh;
      .insurance__cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
