<div class="search wrapper">
  <div class="search__all">
    <div class="search__title">
      <h3>{{ "common.subtitles.findAll" | translate }}</h3>
      <i class="pi pi-users"></i>
    </div>
    <app-button
      [label]="'common.buttons.searchAll' | translate"
      (onClick)="onSubmit('all')"
    ></app-button>
  </div>
  <div class="search__insurance">
    <div class="search__title longLabel">
      <h3>{{ "common.subtitles.findByInsurance" | translate }}</h3>
      <i class="pi pi-shield"></i>
    </div>
    <div class="insurance__cards">
      <app-card
        *ngFor="let insurance of insurances"
        [backgroundImageColor]="insurance.background"
        [typeCard]="insurance.type"
        (click)="searchBy(insurance.type)"
      ></app-card>
    </div>
  </div>
  <div class="search__passport">
    <div class="search__title longLabel">
      <h3>{{ "common.subtitles.findByPassport" | translate }}</h3>
      <i class="pi pi-id-card"></i>
    </div>
    <form class="search__form">
      <app-autocomplete-input
        [inputControlValue]="getFormControl('passport')"
        [suggestions]="suggestions"
        (selectedOption)="filterPassport($event)"
      ></app-autocomplete-input>
      <app-button
        [label]="'common.buttons.search' | translate"
        (onClick)="onSubmit('passport')"
      ></app-button>
    </form>
  </div>
</div>
