/* You can add global styles to this file, and also import other style files */
@import "/src/assets/styles/variables";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
Header
*/
.header {
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: white;
}

/**
Wrapper container page
*/
.wrapper {
  padding: 2rem 1rem;
}

/**
Dialog
*/
// All dialogs
.p-dialog {
  margin-top: 4rem;
}

// Update/ Create dialog
p-dynamicdialog {
  .p-dialog-content {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

// Confirm dialog
.p-confirm-dialog {
  .p-dialog-content {
    padding-top: 1.3rem !important;
  }
}

/**
Buttons
*/
// Secondary button
.button__secondary {
  width: fit-content;
  .p-button {
    background: white;
    color: $base-button-color;
  }
}
// Secondary button: hover
.button__secondary:hover {
  .p-button {
    background-color: $base-button-color;
    color: white;
  }
}
// Size any button
.p-button {
  min-width: 9rem;
}
// Buttons add-new-delete
.container__button--results {
  display: flex;
  margin: 3rem 4rem 0rem 4rem;
  justify-content: space-around;
  // Size
  .p-button {
    min-width: 3rem;
    // Icon button
    .p-button-icon-left {
      margin-right: 0 !important;
    }
    // Text button
    .p-button-label {
      display: none;
    }
  }
}

/**
Inputs
*/
// Container which wraps input Text and input Calendar
.input__container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 1rem;
  // Label inputs
  label {
    color: $base-color500;
    font-weight: 600;
    padding-bottom: 0.6rem;
  }
}

/**
Dialog-Form (Add-new)
*/
.dialog__form {
  // Input text field
  app-text-input {
    .p-inputtext {
      margin-bottom: 1rem !important;
    }
  }
  // Input calendar field
  app-calendar-input {
    .p-inputtext {
      width: 10rem;
      margin-bottom: 0 !important;
    }
  }
  // Input checkbox fields
  .checkbox__label {
    color: $base-color500;
    font-weight: 600;
  }
  app-checkbox-input {
    .field-checkbox {
      display: flex;
      align-items: center;
      .p-checkbox {
        margin: 0.5rem 0.8rem 0 0;
      }
      label {
        color: $base-color500;
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;
        margin-top: 0.5rem;
      }
    }
  }
}

/**
Headers
*/
h3 {
  color: $base-color500;
}

/**
Media.queries
*/
// Tablets
@media (min-width: $breakpoint-tablet) {
  /**
Header
*/
  .header {
    height: 6rem;
    .logo {
      width: 4rem !important;
    }
    a {
      font-size: 1.6rem;
    }
  }

  /**
Dialog update and create
*/
  .p-dialog {
    width: 26rem;
  }
  .container__button--results {
    .p-button {
      min-width: 9rem;
      .p-button-icon-left {
        margin-right: 0.5;
      }
      .p-button-label {
        display: block;
      }
    }
  }

  /**
Statistsics
*/
  app-statistsics {
    display: flex;
    flex-direction: column;
    align-items: center;
    canvas {
      width: 41.5rem;
      height: 41.5rem;
    }
  }
}

//Laptops
@media (min-width: $breakpoint-laptop) {
  /**
Header
*/
  .header {
    height: 5rem;
    .logo {
      width: 3rem !important;
    }
    a {
      font-size: 1.2rem;
    }
  }

  /**
Statistsics
*/
  app-statistsics {
    display: flex;
    flex-direction: column;
    align-items: center;
    canvas {
      width: 25rem;
      height: 25rem;
    }
  }
  /**
Results
*/
  //Go back button
  #button-goback {
    margin-left: 4rem;
  }
  // CRUD buttons
  .container__button--results {
    justify-content: space-between;
    width: 33vw;
  }
  /**
Dialog
*/
  //Create / Update dialog
  p-dynamicdialog {
    .p-dialog {
      width: 32rem !important;
      height: 85vh;
    }
  }
}
