/**Variables*/

// Colors
$base-color100: #cee5f2;
$base-color200: #accbe1;
$base-color300: #7c98b3;
$base-color400: #637081;
$base-color500: #536b78;

$base-button-color: #3b82f6;

// Logo
$logo-mobile-size: 3rem;

// Icons
$icons-dropdown-mobile-size: 1rem;
$icons-mobile-size: 1.5rem;

// BreakPoints
$breakpoint-tablet: 768px;
